<section class="rs pbh" id="products-intro">
            <div class="fx">
                <h1 class="pbh-h1">Products</h1>
                <div class="pbh-panel">
                    <h2 class="pbh-h2">High-quality products for your<br>high-stakes procedures</h2>
                    <p class="pbh-sub">Explore our expansive portfolio of tools designed specifically for neurosurgeons</p>
                    <p class="pbh-body">For more than 30 years, Mizuho America has focused exclusively on providing neurosurgeons with reliable, durable products designed for the rigorous and intricate procedures they perform every day to improve patients’ lives. Our collaborations with clinical experts as well as our extensive knowledge of the neurosurgical landscape have resulted in an exceptionally wide range of handcrafted tools and patented features that we invite you to discover here.</p><a class="pbh-link" href="#browse-by-product">Take a product tour now</a>
                </div>
            </div>
        </section>