<section class="rs pr" id="browse-by-procedure">
            <div class="fx">
                <div class="pr-head">
                    <h2 class="pr-h2">Browse by procedure</h2>
                    <p class="pr-lead">Interested in learning about our selection of tools for some of the most common neurosurgical procedures? Just click on your area of interest below.</p>
                </div>
                <div class="pr-items">
                    <article class="pr-item pr-item--tumor-remo"><img class="pr-icon" src="assets/product-browse/procedure-icon-tumor-removal.png" alt="" width="200" height="190" loading="lazy">
                        <div class="pr-text">
                            <h3 class="pr-title">Tumor Removal</h3><a class="pr-view" href="product-lawtonelite-skull-base-set.html">View product →</a><a class="pr-more" href="#browse-by-product">See Malleable Instruments and more →</a>
                        </div>
                    </article>
                    <article class="pr-item pr-item--aneurysm"><img class="pr-icon" src="assets/product-browse/procedure-icon-aneurysm.png" alt="" width="103" height="143" loading="lazy">
                        <div class="pr-text">
                            <h3 class="pr-title">Aneurysm</h3><a class="pr-view" href="product-sugita-ii-head-frame.html">View product →</a><a class="pr-more" href="#browse-by-product">See Sugita TII Aneurysm Clips and more →</a>
                        </div>
                    </article>
                    <article class="pr-item pr-item--endoscopic"><img class="pr-icon" src="assets/product-browse/procedure-icon-endoscopic-endonasal.png" alt="" width="156" height="141" loading="lazy">
                        <div class="pr-text">
                            <h3 class="pr-title">Endoscopic Endonasal Approach</h3><a class="pr-view" href="product-feather-blades.html">View product →</a><a class="pr-more" href="#browse-by-product">See E3 Evans Elite Endoscopic Instrument Set and more →</a>
                        </div>
                    </article>
                </div>
            </div>
        </section>