<section class="rs br" id="brochures">
            <div class="fx">
                <hr class="rule rule--top">
                <h2 class="sec-h2 br-h2">SEE HOW OUR COLLABORATIONS HAVE HELPED ADVANCE INSTRUMENTATION</h2>
                <div class="bg bg--grid bg--m-grid bg-1">
                    <div class="bg-text w934">
                        <div class="bg-copy">
                            <p class="ln lh26"><strong class="s16">Lawton Elite Series</strong></p>
                            <p class="ln lh26"><span class="s16">Designed in collaboration with Michael T. Lawton, MD, President and CEO, Barrow Neurological Institute; Professor and Chair, Neurosurgery; Chief, Neurovascular Surgery</span></p>
                        </div>
                    </div>
                    <ul class="bg-cards">
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-lawton-elite-series" aria-label="Download brochure: Lawton Elite Series"><img class="bc-img" src="assets/resources/brochure-lawton-elite-series.jpg" alt="Lawton Elite Series brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Lawton Elite Series</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-lawton-elite-series">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-lawtonelite-neurovascular-bypass-instruments" aria-label="Download brochure: LawtonElite Neurovascular Bypass Instruments"><img class="bc-img" src="assets/resources/brochure-lawtonelite-neurovascular-bypass-instruments.jpg" alt="LawtonElite Neurovascular Bypass Instruments brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">LawtonElite Neurovascular Bypass Instruments</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-lawtonelite-neurovascular-bypass-instruments">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-lawtonelite-micro-dissection-instruments" aria-label="Download brochure: LawtonElite Micro Dissection Instruments"><img class="bc-img" src="assets/resources/brochure-lawtonelite-micro-dissection-instruments.jpg" alt="LawtonElite Micro Dissection Instruments brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">LawtonElite Micro Dissection Instruments</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-lawtonelite-micro-dissection-instruments">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-lawtonelite-microscissors" aria-label="Download brochure: LawtonElite Microscissors"><img class="bc-img" src="assets/resources/brochure-lawtonelite-microscissors.jpg" alt="LawtonElite Microscissors brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">LawtonElite Microscissors</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-lawtonelite-microscissors">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-lawton-elite-reposable-microscissors" aria-label="Download brochure: Lawton Elite Reposable Microscissors"><img class="bc-img" src="assets/resources/brochure-lawton-elite-reposable-microscissors.jpg" alt="Lawton Elite Reposable Microscissors brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Lawton Elite Reposable Microscissors</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-lawton-elite-reposable-microscissors">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
                <div class="bg bg--grid bg--m-grid bg-2">
                    <div class="bg-text w1106">
                        <div class="bg-copy">
                            <p class="ln lh26"><strong class="s16">Evans Endoscopic Endonasal Instruments</strong></p>
                            <p class="ln lh26"><span class="s16">Designed in collaboration with James J. Evans, MD, Professor of Neurological Surgery and Otolaryngology; Chief, Brain Tumor and Stereotactic Radiosurgery Division, Jefferson Health; Director, Cranial Base and Pituitary Surgery; Director, Cranial Base and Endoscopic Surgery Fellowship</span></p>
                        </div>
                    </div>
                    <ul class="bg-cards">
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-evans-elite-endoscopic-instruments" aria-label="Download brochure: Evans Elite Endoscopic Instruments"><img class="bc-img" src="assets/resources/brochure-evans-elite-endoscopic-instruments.jpg" alt="Evans Elite Endoscopic Instruments brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Evans Elite Endoscopic Instruments</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-evans-elite-endoscopic-instruments">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-evans-360-rotatables" aria-label="Download brochure: Evans 360° Rotatables"><img class="bc-img" src="assets/resources/brochure-evans-360-rotatables.jpg" alt="Evans 360° Rotatables brochure cover" width="217" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Evans 360° Rotatables</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-evans-360-rotatables">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-e3-mithras-bipolar" aria-label="Download brochure: E3 Mithras Bipolar"><img class="bc-img" src="assets/resources/brochure-e3-mithras-bipolar.jpg" alt="E3 Mithras Bipolar brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">E3 Mithras Bipolar</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-e3-mithras-bipolar">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
                <div class="bg bg--grid bg--m-grid bg--inset bg-3">
                    <div class="bg-text w1054">
                        <div class="bg-copy">
                            <p class="ln lh26"><strong class="s16">Kelly Endoscopic Endonasal and Keyhole Instruments</strong></p>
                            <p class="ln lh26"><span class="s16">Designed in collaboration with Daniel F. Kelly, MD, Co-Founder and Director, Pacific Neuroscience Institute; Director, Pacific Brain Tumor Center and Pacific Pituitary Disorders Center; Professor of Neurosurgery, Saint John’s Cancer Institute at Providence Saint John’s Health Center</span></p>
                        </div>
                    </div>
                    <ul class="bg-cards">
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-kelly-endoscopic-endonasal-instrument-set" aria-label="Download brochure: Kelly Endoscopic Endonasal Instrument Set"><img class="bc-img" src="assets/resources/brochure-kelly-endoscopic-endonasal-instrument-set.jpg" alt="Kelly Endoscopic Endonasal Instrument Set brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Kelly Endoscopic Endonasal Instrument Set</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-kelly-endoscopic-endonasal-instrument-set">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-kelly-endonasal-instrument-set" aria-label="Download brochure: Kelly Endonasal Instrument Set"><img class="bc-img" src="assets/resources/brochure-kelly-endonasal-instrument-set.jpg" alt="Kelly Endonasal Instrument Set brochure cover" width="217" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Kelly Endonasal Instrument Set</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-kelly-endonasal-instrument-set">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-kelly-keyhole-instrument-set" aria-label="Download brochure: Kelly Keyhole Instrument Set"><img class="bc-img" src="assets/resources/brochure-kelly-keyhole-instrument-set.jpg" alt="Kelly Keyhole Instrument Set brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Kelly Keyhole Instrument Set</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-kelly-keyhole-instrument-set">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
                <div class="bg bg--pair bg--m-stack bg--inset bg-4">
                    <div class="bg-halves">
                        <div class="bg-half">
                            <div class="bg-text w534">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">Day-Bailes Tapered Locking Suction Tubes</strong></p>
                                    <p class="ln lh26"><span class="s16">Designed in collaboration with Dr. J. D. Day, MD, Medical Director, Nexus Neuroscience; and Dr. Julian Bailes, MD, Chair, Department of Neurosurgery, Endeavor Health</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-day-bailes-tapered-locking-suction-tubes" aria-label="Download brochure: Day-Bailes Tapered Locking Suction Tubes"><img class="bc-img" src="assets/resources/brochure-day-bailes-tapered-locking-suction-tubes.jpg" alt="Day-Bailes Tapered Locking Suction Tubes brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Designed for a wide range of... </span><a class="more s14" href="#brochure-day-bailes-tapered-locking-suction-tubes">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="bg-half">
                            <div class="bg-text w567">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">Dr. Youssef’s Cranial Nerve Dissection Set</strong></p>
                                    <p class="ln lh26"><span class="s16">Designed in collaboration with Dr. A. Samy Youssef, MD, PhD, Professor and Vice Chairman for Education, Departments of Neurosurgery &amp; Otolaryngology, Director of Skull Base Surgery, University of Colorado School of Medicine</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-dr-youssefs-cranial-nerve-dissection-set" aria-label="Download brochure: Dr. Youssef’s Cranial Nerve Dissection Set"><img class="bc-img" src="assets/resources/brochure-dr-youssefs-cranial-nerve-dissection-set.jpg" alt="Dr. Youssef’s Cranial Nerve Dissection Set brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Comprehensive, specialized...</span></p>
                                        <p class="ln lh22"><a class="more s14" href="#brochure-dr-youssefs-cranial-nerve-dissection-set">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="rule">
                </div>
                <div class="bg bg--pair bg--m-stack bg--inset bg-5">
                    <div class="bg-halves">
                        <div class="bg-half">
                            <div class="bg-text w534">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">Feather® K-6420 Micro Blade Angled for Precision Incisions</strong></p>
                                    <p class="ln lh26"><span class="s16">Designed in collaboration with Dr. Daniel Prevedello, MD, MBA, The Ohio State University - Wexner Medical Center; Brain and Spine Tumor Center; Vice Chair for Academic Affairs; Professor; Director, Minimally Invasive Cranial Surgery Program; College of Medicine; Department of Neurological Surgery</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-feather-k-6420-micro-blade-angled-for-precision-incisions" aria-label="Download brochure: Feather® K-6420 Micro Blade Angled for Precision Incisions"><img class="bc-img" src="assets/resources/brochure-feather-k-6420-micro-blade-angled-for-precision-incisions.jpg" alt="Feather® K-6420 Micro Blade Angled for Precision Incisions brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Engineered to facilitate sharp...</span></p>
                                        <p class="ln lh22"><a class="more s14" href="#brochure-feather-k-6420-micro-blade-angled-for-precision-incisions">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="bg-half">
                            <div class="bg-text w567">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">T Endo-Clips</strong></p>
                                    <p class="ln lh26"><span class="s16">Designed in collaboration with Dr. Erol Veznedaroglu, MD, FACS, FAANS, FAHA, President and CEO, Global Neuroscience Institute; Professor, Robert A. Groff Chair, Department of Neurosurgery, Drexel University College of Medicine</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-t-endo-clips" aria-label="Download brochure: T Endo-Clips"><img class="bc-img" src="assets/resources/brochure-t-endo-clips.jpg" alt="T Endo-Clips brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Designed to help improve...</span></p>
                                        <p class="ln lh22"><a class="more s14" href="#brochure-t-endo-clips">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="rule">
                </div>
                <div class="bg bg--grid bg--m-stack bg--inset bg-6">
                    <div class="bg-text w1054">
                        <div class="bg-copy">
                            <p class="ln lh26"><strong class="s16">Cerebellar Pontine Tumor Instruments and Skull Base Instrumentation</strong></p>
                            <p class="ln lh26"><span class="s16">Designed in collaboration with Dr. Takanori Fukushima, MD, internationally acclaimed neurosurgeon </span></p>
                        </div>
                    </div>
                    <ul class="bg-cards">
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-cerebellar-pontine-tumor-instruments" aria-label="Download brochure: Cerebellar Pontine Tumor Instruments"><img class="bc-img" src="assets/resources/brochure-cerebellar-pontine-tumor-instruments.jpg" alt="Cerebellar Pontine Tumor Instruments brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Cerebellar Pontine Tumor Instruments</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-cerebellar-pontine-tumor-instruments">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-skull-base-instrumentation" aria-label="Download brochure: Skull Base Instrumentation"><img class="bc-img" src="assets/resources/brochure-skull-base-instrumentation.jpg" alt="Skull Base Instrumentation brochure cover" width="217" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Skull Base Instrumentation</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-skull-base-instrumentation">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
                <div class="bg bg--grid bg--m-grid bg-7">
                    <div class="bg-text w934">
                        <div class="bg-copy">
                            <p class="ln lh26"><strong class="s16">Check out these brochures for more products that can benefit your neurosurgical practice </strong></p>
                        </div>
                    </div>
                    <ul class="bg-cards">
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-mst-7300-series-mizuho-mobile-microsurgery-table" aria-label="Download brochure: MST-7300 Series Mizuho Mobile Microsurgery Table"><img class="bc-img" src="assets/resources/brochure-mst-7300-series-mizuho-mobile-microsurgery-table.jpg" alt="MST-7300 Series Mizuho Mobile Microsurgery Table brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">MST-7300 Series Mizuho Mobile Microsurgery Table </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-mst-7300-series-mizuho-mobile-microsurgery-table">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-sugita-ii-multi-purpose" aria-label="Download brochure: Sugita II Multi-Purpose"><img class="bc-img" src="assets/resources/brochure-sugita-ii-multi-purpose.jpg" alt="Sugita II Multi-Purpose brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Sugita II Multi-Purpose</strong></p>
                                <p class="ln lh22"><strong class="s14">Headframe</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-sugita-ii-multi-purpose">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-radiolucent-head-frame" aria-label="Download brochure: Radiolucent Head Frame"><img class="bc-img" src="assets/resources/brochure-radiolucent-head-frame.jpg" alt="Radiolucent Head Frame brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Radiolucent Head Frame</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-radiolucent-head-frame">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc">
                            <div class="bc-cover"><a class="bc-link" href="#download-smart-fix-head-frame-and-holder" aria-label="Download brochure: Smart Fix Head Frame and Holder"><img class="bc-img" src="assets/resources/brochure-smart-fix-head-frame-and-holder.jpg" alt="Smart Fix Head Frame and Holder brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Smart Fix Head Frame and Holder </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-smart-fix-head-frame-and-holder">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
                <div class="bg bg--pair bg--m-stack bg--inset bg-8">
                    <div class="bg-halves">
                        <div class="bg-half">
                            <div class="bg-text w534">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">T2 Clips: Sugita Titanium Aneurysm Clips and Appliers</strong></p>
                                    <p class="ln lh26"><span class="s16">Available with the optional Spetzler T2 Clip Applier Rack for enhanced intraoperative efficiency, designed in collaboration with renowned neurosurgeon Robert F. Spetzler, MD, FACS, Emeritus Chair, Neurosurgery, Barrow Neurological Institute</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-t2-clips-sugita-titanium-aneurysm-clips-and-appliers" aria-label="Download brochure: T2 Clips: Sugita Titanium Aneurysm Clips and Appliers"><img class="bc-img" src="assets/resources/brochure-t2-clips-sugita-titanium-aneurysm-clips-and-appliers.jpg" alt="T2 Clips: Sugita Titanium Aneurysm Clips and Appliers brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Wide variety of clips and...</span></p>
                                        <p class="ln lh22"><a class="more s14" href="#brochure-t2-clips-sugita-titanium-aneurysm-clips-and-appliers">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="bg-half">
                            <div class="bg-text w567">
                                <div class="bg-copy">
                                    <p class="ln lh26"><strong class="s16">Feather® Micro Surgical Blade for Fine Incision</strong></p>
                                    <p class="ln lh26"><span class="s16">Featuring bayonetted shape designed by Dr. Daniel Prevedello, MD, Director, Minimally Invasive Cranial Surgery Program; Co-Director of the Skull Base and Pituitary Surgery Center at The James</span></p>
                                </div>
                            </div>
                            <ul class="bg-cards">
                                <li class="bc">
                                    <div class="bc-cover"><a class="bc-link" href="#download-feather-micro-surgical-blade-for-fine-incision" aria-label="Download brochure: Feather®  Micro Surgical Blade for Fine Incision"><img class="bc-img" src="assets/resources/brochure-feather-micro-surgical-blade-for-fine-incision.jpg" alt="Feather®  Micro Surgical Blade for Fine Incision brochure cover" width="237" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                                    <div class="bc-cap bc-cap--excerpt">
                                        <p class="ln lh22"><span class="s14">Back-cutting, hook, and straight...</span></p>
                                        <p class="ln lh22"><a class="more s14" href="#brochure-feather-micro-surgical-blade-for-fine-incision">Read description</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <hr class="rule">
                </div>
                <div class="bg bg--grid bg--m-grid bg-9">
                    <ul class="bg-cards">
                        <li class="bc mo-1">
                            <div class="bc-cover"><a class="bc-link" href="#download-vascular-management-solutions-from-mizuho" aria-label="Download brochure: Vascular Management Solutions from Mizuho"><img class="bc-img" src="assets/resources/brochure-vascular-management-solutions-from-mizuho.jpg" alt="Vascular Management Solutions from Mizuho brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Vascular Management Solutions from Mizuho </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-vascular-management-solutions-from-mizuho">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc mo-3">
                            <div class="bc-cover"><a class="bc-link" href="#download-feather-micro-surgery" aria-label="Download brochure: Feather® Micro Surgery"><img class="bc-img" src="assets/resources/brochure-feather-micro-surgery.jpg" alt="Feather® Micro Surgery brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Feather® Micro Surgery</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-feather-micro-surgery">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc mo-5">
                            <div class="bc-cover"><a class="bc-link" href="#download-microscissors" aria-label="Download brochure: Microscissors"><img class="bc-img" src="assets/resources/brochure-microscissors.jpg" alt="Microscissors brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Microscissors</strong></p>
                                <p class="ln lh22"><strong class="s14">Master Edition</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-microscissors">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc mo-6">
                            <div class="bc-cover"><a class="bc-link" href="#download-malleable-instrument-set-for-neuroendoscopy" aria-label="Download brochure: Malleable Instrument Set for Neuroendoscopy"><img class="bc-img" src="assets/resources/brochure-malleable-instrument-set-for-neuroendoscopy.jpg" alt="Malleable Instrument Set for Neuroendoscopy brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Malleable Instrument Set for Neuroendoscopy </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-malleable-instrument-set-for-neuroendoscopy">Read description</a> </p>
                            </div>
                        </li>
                        <li class="bc mo-7">
                            <div class="bc-cover"><a class="bc-link" href="#download-endoscopic-workflow" aria-label="Download brochure: Endoscopic Workflow"><img class="bc-img" src="assets/resources/brochure-endoscopic-workflow.jpg" alt="Endoscopic Workflow brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Endoscopic Workflow</strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-endoscopic-workflow">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc mo-2">
                            <div class="bc-cover"><a class="bc-link" href="#download-skull-base-workflow" aria-label="Download brochure: Skull Base Workflow"><img class="bc-img" src="assets/resources/brochure-skull-base-workflow.jpg" alt="Skull Base Workflow brochure cover" width="210" height="245" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Skull Base Workflow </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-skull-base-workflow">Read description</a></p>
                            </div>
                        </li>
                        <li class="bc mo-4">
                            <div class="bc-cover"><a class="bc-link" href="#download-neurovascular-doppler-systems" aria-label="Download brochure: Neurovascular Doppler Systems"><img class="bc-img" src="assets/resources/brochure-neurovascular-doppler-systems.jpg" alt="Neurovascular Doppler Systems brochure cover" width="210" height="236" loading="lazy"></a><img class="badge" src="assets/resources/icon-download-badge.svg" alt="" width="45" height="45"></div>
                            <div class="bc-cap">
                                <p class="ln lh22"><strong class="s14">Neurovascular Doppler Systems </strong></p>
                                <p class="ln lh22"><a class="more s14" href="#brochure-neurovascular-doppler-systems">Read description</a></p>
                            </div>
                        </li>
                    </ul>
                    <hr class="rule">
                </div>
            </div>
        </section>