<section class="rs bl" id="continue-your-visit">
            <div class="fx">
                <hr class="rule bl-rule m-only">
                <h2 class="bl-h2">Continue your visit with us...</h2>
                <div class="bl-btns"><a class="bl-btn bl-btn--1" href="#bottom-link-1">Discover our wide range of products</a><a class="bl-btn bl-btn--2" href="#bottom-link-2">See all the procedures we support</a><a class="bl-btn bl-btn--3" href="#bottom-link-3">Learn why we’re a global leader in neurosurgical tools</a></div>
            </div>
        </section>