<section class="rs tb" id="instruments-included">
            <div class="fx">
                <div class="tb-head">
                    <h2 class="sec-h">Instruments Included</h2>
                    <p class="tb-badge">15 Instruments • 21 pieces</p><a class="pbtn pbtn--line tb-dl" href="#download-parts-list"><span class="dl-arrow" aria-hidden="true"></span>Download full parts list</a>
                </div>
                <div class="tb-scroll">
                    <table class="tb-table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Instrument</th>
                                <th scope="col">Part number</th>
                                <th scope="col">Qty</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">01</th>
                                <td>Dissector, Penfield No. 1</td>
                                <td class="is-part">LE-DIS-101</td>
                                <td>1</td>
                                <td>Dural elevation and dissection</td>
                            </tr>
                            <tr>
                                <th scope="row">02</th>
                                <td>Dissector, Penfield No. 4</td>
                                <td class="is-part">LE-DIS-104</td>
                                <td>1</td>
                                <td>Blunt dissection</td>
                            </tr>
                            <tr>
                                <th scope="row">03</th>
                                <td>Micro Scissors, straight, 18cm</td>
                                <td class="is-part">LE-MSS-018</td>
                                <td>1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">04</th>
                                <td>Micro Scissors, curved, 18cm</td>
                                <td class="is-part">LE-MSC-018</td>
                                <td>1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">05</th>
                                <td>Bipolar Forceps, bayonet, 18cm</td>
                                <td class="is-part">LE-BPF-018B</td>
                                <td>1</td>
                                <td>For use with bipolar generator</td>
                            </tr>
                            <tr>
                                <th scope="row">06</th>
                                <td>Bayonet Forceps, 18cm</td>
                                <td class="is-part">LE-BAY-018</td>
                                <td>2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">07</th>
                                <td>Brain Retractor, 10mm</td>
                                <td class="is-part">LE-BRT-010</td>
                                <td>2</td>
                                <td>For self-retaining system</td>
                            </tr>
                            <tr>
                                <th scope="row">08</th>
                                <td>Brain Retractor, 15mm</td>
                                <td class="is-part">LE-BRT-015</td>
                                <td>2</td>
                                <td>For self-retaining system</td>
                            </tr>
                            <tr>
                                <th scope="row">09</th>
                                <td>Suction Tube, malleable, 3Fr</td>
                                <td class="is-part">LE-SUC-003M</td>
                                <td>2</td>
                                <td>LawtonElite malleable tip</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td>Suction Tube, malleable, 5Fr</td>
                                <td class="is-part">LE-SUC-005M</td>
                                <td>2</td>
                                <td>LawtonElite malleable tip</td>
                            </tr>
                            <tr>
                                <th scope="row">11</th>
                                <td>Nerve Hook, right angle</td>
                                <td class="is-part">LE-NHK-001</td>
                                <td>1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">12</th>
                                <td>Micro Probe, blunt</td>
                                <td class="is-part">LE-PRB-001</td>
                                <td>1</td>
                                <td>Vessel and nerve identification</td>
                            </tr>
                            <tr>
                                <th scope="row">13</th>
                                <td>Curette, straight, 2mm</td>
                                <td class="is-part">LE-CUR-002</td>
                                <td>1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">14</th>
                                <td>Curette, angled, 2mm</td>
                                <td class="is-part">LE-CUR-002A</td>
                                <td>1</td>
                                <td></td>
                            </tr>
                            <tr>
                                <th scope="row">15</th>
                                <td>Instrument Tray with lid and holders</td>
                                <td class="is-part">LE-TRY-SKB</td>
                                <td>1</td>
                                <td>316L stainless steel, autoclavable</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <hr class="sec-rule">
            </div>
        </section>