<section class="intro rs" id="intro-statement">
            <div class="fx">
                <h2 class="intro-h2">We are Mizuho AMERICA: delivering world-class collective expertise with a personalized approach</h2>
                <p class="intro-p">Singularly focused on neurosurgery, Mizuho America is dedicated to delivering an exceptional experience to help you achieve your surgical goals across a broad range of procedures and patients.</p>
                <a class="intro-btn" href="#testimonials">Watch what clinical experts say about us</a>
                <hr class="intro-rule">
            </div>
        </section>