<section class="vc rs" id="value-columns">
            <div class="fx">
                <article class="vc-card vc-card--1">
                    <h3 class="vc-title">Surgeon-centric</h3><img class="vc-icon" src="assets/mizuho-home/value-icon-surgeon-centric.png" alt="" width="100" height="98" loading="lazy">
                    <div class="vc-text">
                        <p class="vc-lead">Products designed exclusively<br class="d-only"> for neurosurgeons</p>
                        <p class="vc-body">With an expansive portfolio of instruments available individually and in convenient, timesaving sets and kits, we are committed to helping you optimize precision, efficiency, and workflow in the OR</p>
                    </div>
                </article>
                <article class="vc-card vc-card--2">
                    <h3 class="vc-title">Consistent quality</h3><img class="vc-icon" src="assets/mizuho-home/value-icon-consistent-quality.png" alt="" width="99" height="90" loading="lazy">
                    <div class="vc-text">
                        <p class="vc-lead">Handcrafted tools for exceptional quality, performance and longevity</p>
                        <p class="vc-body">Our tools are produced with the utmost care and integrity, adhering to stringent manufacturing protocols, so you can confidently rely on them for your delicate, high-stakes procedures</p>
                    </div>
                </article>
                <article class="vc-card vc-card--3">
                    <h3 class="vc-title">Notable names</h3><img class="vc-icon" src="assets/mizuho-home/value-icon-notable-names.png" alt="" width="100" height="84" loading="lazy">
                    <div class="vc-text">
                        <p class="vc-lead">Longstanding collaborations with renowned neurosurgeons</p>
                        <p class="vc-body">We’ve become a global leader in the field of neurosurgical tools through our ongoing work with clinical experts to help identify and fill unmet needs in the OR</p>
                    </div>
                </article>
                <article class="vc-card vc-card--4">
                    <h3 class="vc-title">Personal partnership</h3><img class="vc-icon" src="assets/mizuho-home/value-icon-personal-partnership.png" alt="" width="100" height="72" loading="lazy">
                    <div class="vc-text">
                        <p class="vc-lead">Supporting you before, during,<br class="d-only"> and after the sale</p>
                        <p class="vc-body">We not only stand behind our high-quality products; we stand with you to ensure your questions are answered, your needs are met, and your input and insights are heard</p>
                    </div>
                </article><a class="vc-btn" href="#downloadable-brochures">Check out our downloadable brochures</a>
            </div>
        </section>