<section class="ts rs" id="testimonials">
            <div class="fx">
                <div class="ts-head">
                    <h2 class="ts-h2">Testimonials</h2>
                    <p class="ts-intro">Leaders in the field of neurosurgery discuss Mizuho America’s pivotal role in expanding the neurosurgical armamentarium.</p>
                </div>
                <article class="ts-card ts-card--1"><a class="ts-thumb" href="#watch-lawton"><img class="ts-img" src="assets/mizuho-home/testimonial-thumb-lawton.jpg" alt="Michael T. Lawton, MD" width="409" height="272" loading="lazy"><img class="ts-play" src="assets/mizuho-home/icon-play-circle.svg" alt="" width="53" height="53"></a>
                    <div class="ts-bio">
                        <p class="ts-name">Michael T. Lawton, MD</p>
                        <p class="ts-role">President and CEO,</p>
                        <p class="ts-rest">Barrow Neurological Institute<br>Professor and Chair, Neurosurgery<br>Chief, Neurovascular Surgery</p><a class="ts-watch" href="#watch-lawton">Watch now</a>
                    </div>
                </article>
                <article class="ts-card ts-card--2"><a class="ts-thumb" href="#watch-evans"><img class="ts-img" src="assets/mizuho-home/testimonial-thumb-evans.jpg" alt="James J. Evans, MD" width="409" height="272" loading="lazy"><img class="ts-play" src="assets/mizuho-home/icon-play-circle.svg" alt="" width="53" height="53"></a>
                    <div class="ts-bio">
                        <p class="ts-name">James J. Evans, MD</p>
                        <p class="ts-role">Professor, Neurological Surgery &amp; Otolaryngology</p>
                        <p class="ts-rest">Division Chief, Brain Tumor and Stereotactic<br>Radiosurgery Division<br>Director, Cranial Base and Pituitary Surgery<br>Director, Cranial Base and Endoscopic Surgery Fellowship</p><a class="ts-watch" href="#watch-evans">Watch now</a>
                    </div>
                </article>
                <article class="ts-card ts-card--3"><a class="ts-thumb" href="#watch-youssef"><img class="ts-img" src="assets/mizuho-home/testimonial-thumb-youssef.jpg" alt="A. Samy Youssef, MD, PhD" width="409" height="272" loading="lazy"><img class="ts-play" src="assets/mizuho-home/icon-play-circle.svg" alt="" width="53" height="53"></a>
                    <div class="ts-bio">
                        <p class="ts-name">A. Samy Youssef, MD, PhD</p>
                        <p class="ts-role">Professor &amp; Vice Chairman of Education</p>
                        <p class="ts-rest">Departments of Neurosurgery &amp; Otolaryngology<br>Director of Skull Base Surgery<br>University of Colorado School of Medicine</p><a class="ts-watch" href="#watch-youssef">Watch now</a>
                    </div>
                </article><a class="ts-mcta m-only" href="#clinical-experts">Watch what clinical experts say about us</a>
                <hr class="ts-rule ts-rule--top">
                <blockquote class="ts-quote">
                    <p>“I Have found the mizuho america team to be...<br class="d-only"> forward-thinking, and have a genuine interest in the advancement of surgical instrumentation.”</p>
                </blockquote>
                <p class="ts-attr">– James Evans, MD</p>
                <hr class="ts-rule ts-rule--l d-only">
                <hr class="ts-rule ts-rule--r d-only"><a class="ts-more" href="#more-testimonials">See more testimonials</a>
                <hr class="ts-rule ts-rule--bottom m-only">
            </div>
        </section>